workflows/03-informe-ejecutivo.json
{
  "id": "report03",
  "name": "03 · Informe ejecutivo — formato verificable",
  "nodes": [
    {
      "parameters": {},
      "id": "51739dc5-0ba6-4e1e-9f51-123456789001",
      "name": "Al ejecutar manualmente",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "jsCode": "// Mismos datos que la semilla del workflow 01 (misma corrida de la torre de\n// control): mismos proyectos, responsables, estados, fechas y bloqueadores.\n// 01 muestra la normalización; este workflow redacta el informe sobre esos\n// mismos hechos.\nreturn [{ json: {\n  period: '20–26 de julio de 2026',\n  projects: [\n    { name: 'Portal de aliados', owner: 'Lucía', status: 'en_riesgo', progress: 62, due: '2026-07-24', blocker: 'Falta decisión de Legal sobre términos.', decision: 'Aprobar versión B de términos antes del martes.' },\n    { name: 'Onboarding comercial', owner: 'Miguel', status: 'en_curso', progress: 48, due: '2026-08-02', blocker: '', decision: '' },\n    { name: 'Migración CRM', owner: 'Sara', status: 'bloqueado', progress: 31, due: '2026-07-22', blocker: 'Proveedor no entregó acceso a la API.', decision: 'Escalar incumplimiento y acordar fecha de acceso.' }\n  ],\n  events: ['Mar 09:00 · Comité de lanzamiento', 'Jue 15:00 · Demo de onboarding', 'Hoy 16:30 · Escalamiento con proveedor']\n} }];"
      },
      "id": "51739dc5-0ba6-4e1e-9f51-123456789002",
      "name": "Snapshot para informe",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "jsCode": "const { period, projects, events } = $input.first().json;\nconst attention = projects.filter((project) => ['en_riesgo', 'bloqueado'].includes(project.status));\nconst lines = [\n  '# Torre de control — informe ejecutivo',\n  '',\n  `**Periodo:** ${period}`,\n  `**Generado:** ${new Date().toLocaleString('es-CO', { dateStyle: 'medium', timeStyle: 'short' })}`,\n  '',\n  '## 1. Lectura en 30 segundos',\n  `- Proyectos observados: ${projects.length}`,\n  `- Requieren atención: ${attention.length}`,\n  `- Próxima acción: ${attention[0]?.decision ?? 'Sin escalamiento pendiente.'}`,\n  '',\n  '## 2. Decisiones solicitadas',\n  ...attention.map((project, index) => `${index + 1}. **${project.name}** · responsable: ${project.owner}. Decidir: ${project.decision}`),\n  '',\n  '## 3. Semáforo de proyectos',\n  '| Proyecto | Responsable | Estado | Avance | Fecha límite | Bloqueador |',\n  '|---|---|---:|---:|---|---|',\n  ...projects.map((project) => `| ${project.name} | ${project.owner} | ${project.status} | ${project.progress}% | ${project.due} | ${project.blocker || '—'} |`),\n  '',\n  '## 4. Agenda próxima',\n  ...events.map((event) => `- ${event}`),\n  '',\n  '## 5. Recomendación de seguimiento',\n  'La automatización reúne evidencia y ordena prioridades. La decisión, la asignación de responsable y el escalamiento siguen siendo humanos.'\n];\nreturn [{ json: { reportMarkdown: lines.join('\\n'), reportType: 'determinista-y-auditable' } }];"
      },
      "id": "51739dc5-0ba6-4e1e-9f51-123456789003",
      "name": "Construir informe con contrato",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [700, 300]
    },
    {
      "parameters": { "content": "OPCIÓN IA: YA EXISTE — workflows/04-informe-con-modelo.json\n\nEse workflow toma el mismo snapshot coherente que produce este 03 y lo pasa por un nodo Basic LLM Chain con el prompt de prompts/INFORME-EJECUTIVO.md, y agrega un nodo de validación que compara la salida contra los datos de entrada.\n\nImpórtalo por separado y ejecútalo para ver la redacción hecha por un modelo. Nunca dejes que la IA invente métricas, responsables, fechas o decisiones: el contrato de datos limita su trabajo a redactar y explicar.", "height": 260, "width": 460, "color": 4 },
      "id": "51739dc5-0ba6-4e1e-9f51-123456789004",
      "name": "Nota: extensión con IA",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [690, 20]
    },
    {
      "parameters": { "content": "RELACIÓN CON EL WORKFLOW 01\n\nEste workflow (03) redacta el informe ejecutivo. Su semilla \"Snapshot para informe\" usa los MISMOS datos que el workflow \"01 · Semilla de demostración\" (Portal de aliados/Lucía/en_riesgo, Onboarding comercial/Miguel/en_curso, Migración CRM/Sara/bloqueado).\n\nSon independientes: cada uno se importa y se ejecuta por separado. 01 muestra la normalización de las tres fuentes; este muestra la redacción del informe sobre esos mismos hechos.", "height": 235, "width": 460, "color": 3 },
      "id": "51739dc5-0ba6-4e1e-9f51-123456789005",
      "name": "Nota: relación con el workflow 01",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [690, 580]
    }
  ],
  "pinData": {},
  "connections": {
    "Al ejecutar manualmente": { "main": [[{ "node": "Snapshot para informe", "type": "main", "index": 0 }]] },
    "Snapshot para informe": { "main": [[{ "node": "Construir informe con contrato", "type": "main", "index": 0 }]] }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "versionId": "51739dc5-0ba6-4e1e-9f51-123456789001",
  "meta": { "templateCredsSetupCompleted": false },
  "tags": []
}
