workflows/05-fuente-real-sin-codigo.json
{
  "id": "sheet05",
  "name": "05 · Fuente real sin escribir código",
  "nodes": [
    {
      "parameters": {},
      "id": "a1000000-0000-4000-8000-000000000001",
      "name": "Al ejecutar manualmente",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [-160, 300]
    },
    {
      "parameters": {
        "url": "https://raw.githubusercontent.com/Fedgutcor/n8n-control-tower-lab/main/samples/proyectos-demo.csv",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "a1000000-0000-4000-8000-000000000002",
      "name": "Traer la hoja de datos",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [60, 300]
    },
    {
      "parameters": {
        "operation": "csv",
        "options": {}
      },
      "id": "a1000000-0000-4000-8000-000000000003",
      "name": "Convertir filas en datos",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [280, 300]
    },
    {
      "parameters": {
        "mode": "manual",
        "includeOtherFields": true,
        "assignments": {
          "assignments": [
            {
              "id": "sem-1",
              "name": "semaforo",
              "value": "={{ $json.estado === 'bloqueado' ? 'ROJO' : ($json.estado === 'en_riesgo' ? 'AMBAR' : 'VERDE') }}",
              "type": "string"
            },
            {
              "id": "sem-2",
              "name": "dias_restantes",
              "value": "={{ Math.round((new Date($json.fecha_limite) - new Date()) / 86400000) }}",
              "type": "number"
            },
            {
              "id": "sem-3",
              "name": "necesita_decision",
              "value": "={{ $json.bloqueador ? true : false }}",
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "id": "a1000000-0000-4000-8000-000000000004",
      "name": "Calcular semáforo",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [500, 300]
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "fecha_limite",
              "order": "ascending"
            }
          ]
        },
        "options": {}
      },
      "id": "a1000000-0000-4000-8000-000000000005",
      "name": "Ordenar por fecha límite",
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [720, 300]
    },
    {
      "parameters": {
        "fieldsToSummarize": {
          "values": [
            {
              "aggregation": "count",
              "field": "proyecto"
            }
          ]
        },
        "fieldsToSplitBy": "semaforo",
        "options": {}
      },
      "id": "a1000000-0000-4000-8000-000000000006",
      "name": "Contar por semáforo",
      "type": "n8n-nodes-base.summarize",
      "typeVersion": 1,
      "position": [940, 460]
    },
    {
      "parameters": {
        "content": "## Esta es tu hoja de datos\n\nHoy apunta a un archivo de ejemplo publicado en internet, para que funcione sin configurar nada.\n\n**Para usar TU propia hoja de Google:**\n\n1. Abre tu hoja de cálculo.\n2. Botón **Compartir** → en \"Acceso general\" elige **Cualquier persona con el enlace** como **Lector**.\n3. Copia el enlace. Del enlace toma el código largo que va entre `/d/` y `/edit`.\n4. Reemplaza la dirección de este nodo por:\n   `https://docs.google.com/spreadsheets/d/EL_CODIGO/export?format=csv`\n\nNo necesitas API key ni conectar tu cuenta de Google.\n\nSi el nodo responde con un error 401, la hoja todavía es privada: repite el paso 2.",
        "height": 420,
        "width": 380,
        "color": 4
      },
      "id": "a1000000-0000-4000-8000-000000000007",
      "name": "Nota: cómo conectar tu hoja",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [20, -180]
    },
    {
      "parameters": {
        "content": "## La regla queda a la vista, no en una caja negra\n\nMira los nodos de este flujo: ninguno es un nodo **Code**. Eso no es el logro en sí — es la evidencia de que nada quedó escondido.\n\n- **Traer la hoja**: descarga el archivo.\n- **Convertir filas en datos**: convierte el CSV en registros.\n- **Calcular semáforo**: crea campos nuevos con reglas que se escriben en un formulario.\n- **Ordenar** y **Contar**: se configuran eligiendo el campo en una lista.\n\nLa regla del semáforo está a la vista y cualquiera puede discutirla:\n\n`bloqueado` → ROJO\n`en_riesgo` → ÁMBAR\ntodo lo demás → VERDE\n\nEso es lo que se busca: que la regla sea **auditable por alguien que no programa** — no que el workflow tenga cero código por principio. Un nodo Code de una línea, legible, cumpliría igual de bien el objetivo; un nodo sin código con una expresión ilegible lo violaría igual.",
        "height": 420,
        "width": 380,
        "color": 5
      },
      "id": "a1000000-0000-4000-8000-000000000008",
      "name": "Nota: la regla queda a la vista",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [440, -180]
    },
    {
      "parameters": {
        "content": "## Dónde mirar el resultado\n\nHaz clic en **Ordenar por fecha límite** y mira la pestaña de salida: cada proyecto trae ahora `semaforo`, `dias_restantes` y `necesita_decision`.\n\nEn **Contar por semáforo** ves cuántos proyectos hay en cada color.\n\n**Ejercicio:** cambia en la regla del semáforo el estado `en_riesgo` por otro y vuelve a ejecutar. Observa qué cambió y por qué. La regla es tuya, no de la herramienta.",
        "height": 300,
        "width": 380,
        "color": 3
      },
      "id": "a1000000-0000-4000-8000-000000000009",
      "name": "Nota: dónde ver el resultado",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [880, -60]
    }
  ],
  "pinData": {},
  "connections": {
    "Al ejecutar manualmente": {
      "main": [[{ "node": "Traer la hoja de datos", "type": "main", "index": 0 }]]
    },
    "Traer la hoja de datos": {
      "main": [[{ "node": "Convertir filas en datos", "type": "main", "index": 0 }]]
    },
    "Convertir filas en datos": {
      "main": [[{ "node": "Calcular semáforo", "type": "main", "index": 0 }]]
    },
    "Calcular semáforo": {
      "main": [[{ "node": "Ordenar por fecha límite", "type": "main", "index": 0 }]]
    },
    "Ordenar por fecha límite": {
      "main": [[{ "node": "Contar por semáforo", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "versionId": "a1000000-0000-4000-8000-000000000001",
  "meta": { "templateCredsSetupCompleted": false },
  "tags": []
}
