workflows/08-formulario-de-reporte.json
{
  "id": "form08",
  "name": "08 · Mi equipo reporta sin que yo lo persiga",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Reporte semanal de tu proyecto",
        "formDescription": "Complétalo una vez por semana. En dos minutos tu equipo tiene el semáforo actualizado, sin que nadie tenga que perseguirte.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Proyecto",
              "fieldType": "text",
              "requiredField": true
            },
            {
              "fieldLabel": "Responsable",
              "fieldType": "text",
              "requiredField": true
            },
            {
              "fieldLabel": "Estado",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  { "option": "en_curso" },
                  { "option": "en_riesgo" },
                  { "option": "bloqueado" }
                ]
              },
              "requiredField": true
            },
            {
              "fieldLabel": "Avance",
              "fieldType": "number",
              "placeholder": "Un número de 0 a 100",
              "requiredField": true
            },
            {
              "fieldLabel": "Bloqueador",
              "fieldType": "textarea",
              "placeholder": "Solo si hay algo frenando el avance",
              "requiredField": false
            }
          ]
        },
        "options": {}
      },
      "id": "f1000000-0000-4000-8000-000000000001",
      "name": "Reportar avance del proyecto",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.6,
      "webhookId": "f1000000-1111-4000-8000-000000000001",
      "position": [-160, 300]
    },
    {
      "parameters": {
        "mode": "manual",
        "includeOtherFields": true,
        "assignments": {
          "assignments": [
            {
              "id": "sem-1",
              "name": "semaforo",
              "value": "={{ $json.Estado === 'bloqueado' ? 'ROJO' : ($json.Estado === 'en_riesgo' ? 'AMBAR' : 'VERDE') }}",
              "type": "string"
            },
            {
              "id": "sem-2",
              "name": "necesita_decision",
              "value": "={{ $json.Bloqueador ? true : false }}",
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "id": "f1000000-0000-4000-8000-000000000002",
      "name": "Calcular semáforo",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [80, 300]
    },
    {
      "parameters": {
        "operation": "completion",
        "respondWith": "text",
        "completionTitle": "={{ $json.semaforo === 'ROJO' ? '🔴 Reporte recibido — bloqueado' : ($json.semaforo === 'AMBAR' ? '🟡 Reporte recibido — en riesgo' : '🟢 Reporte recibido — en curso') }}",
        "completionMessage": "={{ 'Gracias, ' + $json.Responsable + '. Quedó registrado \"' + $json.Proyecto + '\" con ' + $json.Avance + '% de avance.' + ($json.Bloqueador ? ' Bloqueador anotado: ' + $json.Bloqueador + '.' : '') }}",
        "options": {}
      },
      "id": "f1000000-0000-4000-8000-000000000003",
      "name": "Mostrar confirmación con el semáforo",
      "type": "n8n-nodes-base.form",
      "typeVersion": 2.5,
      "position": [320, 300]
    },
    {
      "parameters": {
        "content": "## Dónde encontrar la URL del formulario\n\nAl abrir el nodo **Reportar avance del proyecto** en el editor aparecen DOS direcciones, y confundirlas es el error más común:\n\n- **Test URL** (contiene `/form-test/`): sirve mientras editas el workflow. Responde una sola vez, y solo después de apretar **Listen for test event** (o **Execute workflow**) en el editor. Sirve para probar, no para repartir a tu equipo.\n- **Production URL** (contiene `/form/`): es la que funciona de verdad, todo el tiempo, pero solo cuando el workflow está **Activo** (el interruptor arriba a la derecha del editor). Esa es la dirección que compartes.\n\nSi le mandas a alguien la Test URL y deja de responder después del primer intento, ese es el motivo — no está roto, dejó de estar \"escuchando\".",
        "height": 400,
        "width": 380,
        "color": 4
      },
      "id": "f1000000-0000-4000-8000-000000000004",
      "name": "Nota: dónde está la URL del formulario",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-160, -440]
    },
    {
      "parameters": {
        "content": "## La limitación honesta\n\nMientras n8n corre en tu propia laptop, esta URL de formulario **solo funciona dentro de tu propia red**: tu teléfono conectado al mismo WiFi que tu laptop, por ejemplo. Fuera de esa red — datos móviles, otra oficina, otro WiFi — la dirección no responde. No es un error de configuración: simplemente no hay ningún servidor escuchando del otro lado para quien está afuera.\n\n**Y estar en la misma red tampoco alcanza siempre.** Muchas redes de invitados y buena parte de las redes corporativas activan \"aislamiento de cliente\" (client isolation / AP isolation): cada dispositivo puede salir a internet, pero no puede ver a los demás dispositivos conectados al mismo WiFi. Si tu teléfono y tu laptop están en una red así, el formulario tampoco va a cargar aunque compartan la misma red — y desde el teléfono se ve idéntico al caso de estar en redes distintas. Pruébalo tú mismo antes de asumir que \"misma red\" resuelve el problema.\n\nPara que tu equipo real la use desde cualquier lugar, n8n necesita vivir en un servidor accesible desde internet, no en tu laptop. Esa es una decisión de infraestructura, no un ajuste de este workflow — es justo el paso que separa \"probar la idea\" de \"ponerla en producción\".",
        "height": 460,
        "width": 400,
        "color": 7
      },
      "id": "f1000000-0000-4000-8000-000000000005",
      "name": "Nota: la limitación honesta",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [260, -440]
    },
    {
      "parameters": {
        "content": "## Un formulario es una fuente de datos más\n\nCompara este flujo con el `05`: ahí los datos venían de una hoja de cálculo publicada en internet; acá vienen de un formulario que alguien llena a mano, desde su teléfono. El nodo de entrada cambia — **Form Trigger** en vez de **HTTP Request** — pero la regla que decide el semáforo es exactamente la misma que en `05` y `07`: `bloqueado` → ROJO, `en_riesgo` → ÁMBAR, todo lo demás → VERDE.\n\nEsa es la idea central de este laboratorio: **la fuente de datos es intercambiable, el contrato no**. Hoy es un formulario, mañana puede ser un CRM o un correo — la regla del semáforo no cambia de lugar, y sigue a la vista de cualquiera que abra el workflow.",
        "height": 380,
        "width": 400,
        "color": 5
      },
      "id": "f1000000-0000-4000-8000-000000000006",
      "name": "Nota: un formulario es una fuente más",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [680, -440]
    }
  ],
  "pinData": {},
  "connections": {
    "Reportar avance del proyecto": {
      "main": [[{ "node": "Calcular semáforo", "type": "main", "index": 0 }]]
    },
    "Calcular semáforo": {
      "main": [[{ "node": "Mostrar confirmación con el semáforo", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "versionId": "f1000000-0000-4000-8000-000000000001",
  "meta": { "templateCredsSetupCompleted": false },
  "tags": []
}
