workflows/10-compuerta-humana.json
{
  "id": "gate10",
  "name": "10 · La compuerta humana",
  "nodes": [
    {
      "parameters": {},
      "id": "g1000000-0000-4000-8000-000000000001",
      "name": "Cuando el informe está listo",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [-160, 300]
    },
    {
      "parameters": {
        "url": "https://raw.githubusercontent.com/Fedgutcor/n8n-control-tower-lab/main/samples/proyectos-demo.csv",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "g1000000-0000-4000-8000-000000000002",
      "name": "Traer los proyectos",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [60, 300]
    },
    {
      "parameters": {
        "operation": "csv",
        "options": {}
      },
      "id": "g1000000-0000-4000-8000-000000000003",
      "name": "Convertir filas en datos",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [280, 300]
    },
    {
      "parameters": {
        "mode": "manual",
        "includeOtherFields": true,
        "assignments": {
          "assignments": [
            {
              "id": "sem-1",
              "name": "semaforo",
              "value": "={{ $json.estado === 'bloqueado' ? 'ROJO' : ($json.estado === 'en_riesgo' ? 'AMBAR' : 'VERDE') }}",
              "type": "string"
            },
            {
              "id": "sem-2",
              "name": "necesita_decision",
              "value": "={{ $json.bloqueador ? true : false }}",
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "id": "g1000000-0000-4000-8000-000000000004",
      "name": "Calcular semáforo",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [500, 300]
    },
    {
      "parameters": {
        "jsCode": "// El mismo resumen corto del workflow 07, pero este no se da por publicado\n// solo: termina pidiendo una respuesta explícita. Sin esa palabra en el chat,\n// el segundo tramo de este workflow nunca lo va a dar por aprobado.\nconst proyectos = $input.all().map((item) => item.json);\n\nconst conteos = { ROJO: 0, AMBAR: 0, VERDE: 0 };\nfor (const proyecto of proyectos) {\n  conteos[proyecto.semaforo] = (conteos[proyecto.semaforo] || 0) + 1;\n}\n\nconst decisiones = proyectos.filter((proyecto) => proyecto.necesita_decision);\n\nconst fecha = new Date().toLocaleDateString('es-CO', { day: 'numeric', month: 'long' });\nconst lineas = [\n  `📋 Informe listo para publicar — ${fecha}`,\n  `🔴 ${conteos.ROJO} bloqueados · 🟡 ${conteos.AMBAR} en riesgo · 🟢 ${conteos.VERDE} en curso`,\n];\n\nif (decisiones.length > 0) {\n  lineas.push('', 'Requieren una decisión:');\n  for (const proyecto of decisiones) {\n    lineas.push(`• ${proyecto.proyecto} — ${proyecto.responsable}`);\n  }\n}\n\nlineas.push('', 'Responde APRUEBO en este chat para publicarlo.');\n\nreturn [{ json: { mensaje: lineas.join('\\n') } }];"
      },
      "id": "g1000000-0000-4000-8000-000000000005",
      "name": "Armar mensaje con pedido de aprobación",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [720, 300]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "sendMessage",
        "chatId": "TU_CHAT_ID_AQUI",
        "text": "={{ $json.mensaje }}",
        "additionalFields": {}
      },
      "id": "g1000000-0000-4000-8000-000000000006",
      "name": "Pedir aprobación por Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [940, 300]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 5
            }
          ]
        }
      },
      "id": "g1000000-0000-4000-8000-000000000007",
      "name": "Revisar cada 5 minutos",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [-160, 700]
    },
    {
      "parameters": {
        "url": "https://api.telegram.org/botTU_TOKEN_DE_BOTFATHER_AQUI/getUpdates"
      },
      "id": "g1000000-0000-4000-8000-000000000008",
      "name": "Consultar los últimos mensajes",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [60, 700]
    },
    {
      "parameters": {
        "jsCode": "// getUpdates devuelve todos los mensajes recientes que el bot todavía no\n// \"consumió\", más viejo primero. Solo nos importa el último, y solo si trae\n// la palabra que pedimos en el mensaje anterior.\nconst respuesta = $input.first().json;\nconst mensajes = respuesta.result || [];\nconst ultimo = mensajes[mensajes.length - 1];\nconst texto = ultimo?.message?.text || '';\n\nreturn [{\n  json: {\n    aprobado: texto.toUpperCase().includes('APRUEBO'),\n    ultimoMensaje: texto,\n    quien: ultimo?.message?.from?.first_name || 'desconocido',\n  },\n}];"
      },
      "id": "g1000000-0000-4000-8000-000000000009",
      "name": "Buscar la palabra de aprobación",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [280, 700]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.aprobado }}",
              "value2": true
            }
          ]
        }
      },
      "id": "g1000000-0000-4000-8000-000000000010",
      "name": "¿Ya aprobaron?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [500, 700]
    },
    {
      "parameters": {
        "mode": "manual",
        "includeOtherFields": true,
        "assignments": {
          "assignments": [
            { "id": "pub-1", "name": "publicado", "value": "={{ true }}", "type": "boolean" },
            { "id": "pub-2", "name": "fecha", "value": "={{ $now.toISO() }}", "type": "string" },
            { "id": "pub-3", "name": "aprobadoPor", "value": "={{ $json.quien }}", "type": "string" }
          ]
        },
        "options": {}
      },
      "id": "g1000000-0000-4000-8000-000000000011",
      "name": "Dejar constancia: publicado",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [720, 600]
    },
    {
      "parameters": {},
      "id": "g1000000-0000-4000-8000-000000000012",
      "name": "Seguir esperando",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [720, 820]
    },
    {
      "parameters": {
        "content": "## Por qué no usamos el botón nativo\n\nn8n sí tiene un mecanismo hecho para esto: en el nodo Telegram existe la operación **\"Send and Wait for Response\"** (recurso Message), que manda un botón de aprobar/rechazar y pausa el flujo hasta que alguien lo toca.\n\nLo investigamos leyendo el código instalado, y por eso no lo usamos en esta clase: el botón apunta a una URL de reanudación que arma n8n con la dirección de tu propia instancia. Si no configuraste nada especial, esa dirección es literalmente `http://localhost:5678/...`.\n\nY **\"localhost\" no significa \"tu computador\" para quien lo abre — significa \"el dispositivo que está mirando esto ahora\"**. Cuando el botón llega al Telegram de tu teléfono y lo tocas, tu teléfono intenta conectarse a sí mismo, no a tu laptop. No importa si están en la misma habitación: así, el botón nunca va a funcionar.\n\nPor eso este workflow usa dos tramos separados en el mismo canvas, en vez de un botón que promete algo que la instalación de esta clase no puede cumplir.",
        "height": 440,
        "width": 420,
        "color": 4
      },
      "id": "g1000000-0000-4000-8000-000000000013",
      "name": "Nota: por qué no usamos el botón nativo",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-160, -480]
    },
    {
      "parameters": {
        "content": "## Qué haría falta para el botón nativo de verdad\n\nNo es imposible — es una decisión de infraestructura, no un ajuste de este workflow. Para que \"Send and Wait for Response\" funcione de verdad necesitas, como mínimo:\n\n1. Arrancar n8n con la variable `WEBHOOK_URL` apuntando a una dirección que tu teléfono pueda alcanzar (la IP de tu laptop en la red, o un dominio real).\n2. Que tu teléfono esté en la misma red que esa dirección, **y que la red no separe los dispositivos entre sí** (ver la advertencia del workflow `08`: muchas redes de invitados y corporativas sí lo hacen).\n3. O, para que funcione desde cualquier lugar, un servidor accesible desde internet.\n\nEse es el primer paso concreto hacia producción — ver [EL-DIA-DESPUES.md](../docs/EL-DIA-DESPUES.md), sección \"Los tres niveles de madurez\". Mientras el flujo viva en tu laptop de la clase, este workflow es la alternativa honesta.",
        "height": 400,
        "width": 400,
        "color": 7
      },
      "id": "g1000000-0000-4000-8000-000000000014",
      "name": "Nota: qué haría falta para el botón nativo",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [300, -480]
    },
    {
      "parameters": {
        "content": "## La limitación de este enfoque\n\nEste workflow no se entera en el instante en que alguien responde. **Consultar `getUpdates` es preguntar, no ser avisado.** El tramo que revisa la aprobación solo se entera cuando se ejecuta — cada 5 minutos, con el horario configurado, o cuando alguien lo dispara a mano. Si la aprobación llegó hace 30 segundos, el flujo todavía no lo sabe.\n\nPara este caso alcanza: nadie espera que \"publicar un informe\" sea instantáneo al segundo. Pero si el uso real necesita reaccionar en el momento exacto de la respuesta, este NO es el mecanismo correcto — hace falta el botón nativo (nota de al lado) sobre una instalación que sí pueda recibir ese aviso.",
        "height": 360,
        "width": 380,
        "color": 3
      },
      "id": "g1000000-0000-4000-8000-000000000015",
      "name": "Nota: la limitación de este enfoque",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [740, -480]
    },
    {
      "parameters": {
        "content": "## Una compuerta humana no es un obstáculo\n\nEs fácil ver las piezas 1 a 5 de la arquitectura (motor, datos, llaves, fuentes, reglas) como \"la automatización de verdad\", y la compuerta como un freno que se le agrega al final. Es al revés.\n\nSin una compuerta, un informe que se arma solo y un mensaje que se envía solo no distribuyen trabajo: **distribuyen responsabilidad sin dueño**. Nadie decidió que esto saliera, y sin embargo salió. El día que un dato esté mal, la pregunta \"¿quién lo aprobó?\" no va a tener respuesta.\n\nLa compuerta es el punto exacto donde una persona —con nombre— acepta que lo que va a salir es correcto. No ralentiza la automatización: es lo que la vuelve algo que una organización puede confiar en usar sin vigilarla todo el tiempo. Es la pieza 6 de [DIRIGIR-AL-AGENTE.md](../docs/DIRIGIR-AL-AGENTE.md#6-la-compuerta--dónde-interviene-una-persona).",
        "height": 400,
        "width": 420,
        "color": 5
      },
      "id": "g1000000-0000-4000-8000-000000000016",
      "name": "Nota: una compuerta humana no es un obstáculo",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [1180, -480]
    }
  ],
  "pinData": {},
  "connections": {
    "Cuando el informe está listo": {
      "main": [[{ "node": "Traer los proyectos", "type": "main", "index": 0 }]]
    },
    "Traer los proyectos": {
      "main": [[{ "node": "Convertir filas en datos", "type": "main", "index": 0 }]]
    },
    "Convertir filas en datos": {
      "main": [[{ "node": "Calcular semáforo", "type": "main", "index": 0 }]]
    },
    "Calcular semáforo": {
      "main": [[{ "node": "Armar mensaje con pedido de aprobación", "type": "main", "index": 0 }]]
    },
    "Armar mensaje con pedido de aprobación": {
      "main": [[{ "node": "Pedir aprobación por Telegram", "type": "main", "index": 0 }]]
    },
    "Revisar cada 5 minutos": {
      "main": [[{ "node": "Consultar los últimos mensajes", "type": "main", "index": 0 }]]
    },
    "Consultar los últimos mensajes": {
      "main": [[{ "node": "Buscar la palabra de aprobación", "type": "main", "index": 0 }]]
    },
    "Buscar la palabra de aprobación": {
      "main": [[{ "node": "¿Ya aprobaron?", "type": "main", "index": 0 }]]
    },
    "¿Ya aprobaron?": {
      "main": [
        [{ "node": "Dejar constancia: publicado", "type": "main", "index": 0 }],
        [{ "node": "Seguir esperando", "type": "main", "index": 0 }]
      ]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "versionId": "g1000000-0000-4000-8000-000000000001",
  "meta": { "templateCredsSetupCompleted": false },
  "tags": []
}
